## Analysis of a database with Python

Using this Jupyter notebook we will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer questions

## Understand the datasets

We will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables:

1.  **ChicagoCensusData**
2.  **ChicagoCrimeData**
3.  **ChicagoPublicSchools**

In [1]:
import pandas as pd
import sqlite3

In [2]:
# Install if needed
#!pip install ipython-sql

We have commented out the code to load tables into dataframes and add them to the database since we have already done so. Next we define a connection object `cnn`, then load `sql magic` and connect to the database we want to work with.

In [3]:
# In case one needs to create the database, first we load tables into dataframes
#df1 = pd.read_csv('ChicagoCensusData.csv')
#df2 = pd.read_csv('ChicagoCrimeData.csv')
#df3 = pd.read_csv('ChicagoPublicSchools.csv')

In [4]:
# Then we establish connection to database
cnn = sqlite3.connect('CHICAGO_DB.db')

In [5]:
# Finally, we add tables to database
#df1.to_sql('ChicagoCensusData', cnn)
#df2.to_sql('ChicagoCrimeData', cnn)
#df3.to_sql('ChicagoPublicSchools', cnn)

In [6]:
# loads sql magic
%load_ext sql

In [7]:
# Connects to the database
%sql sqlite:///CHICAGO_DB.db

Now we are ready to run queries in order to answer some questions about our datasets.
For instance let us determine the total number of crimes recorded in the Crime table.

In [8]:
%sql SELECT COUNT(*) AS TOTAL_NUMBER_CRIMES FROM ChicagoCrimeData

 * sqlite:///CHICAGO_DB.db
Done.

[(533,)]

We can also list all community areas with per capita income less than 11000.

In [10]:
%%sql 
SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM ChicagoCensusData
WHERE PER_CAPITA_INCOME < 11000;

 * sqlite:///CHICAGO_DB.db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

If we are interested in crimes involving minors, we can list those case numbers as follows:

In [11]:
%%sql
SELECT CASE_NUMBER, DESCRIPTION FROM ChicagoCrimeData
WHERE DESCRIPTION LIKE '%minor%'

 * sqlite:///CHICAGO_DB.db
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

Another thing we might be interested in investigating is kidnapping crimes.
We can extract those with the following query.

In [14]:
%%sql
SELECT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION FROM ChicagoCrimeData
WHERE PRIMARY_TYPE = 'KIDNAPPING'

 * sqlite:///CHICAGO_DB.db
Done.

[('HN144152', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

We see there is only one kidnapping crime registered, so a valid question is what kind of crimes were recorded at schools? Did the kidnapping happened there?

In [15]:
%%sql
SELECT DISTINCT(PRIMARY_TYPE) AS KINDS_OF_CRIMES_AT_SCHOOLS FROM ChicagoCrimeData
WHERE LOCATION_DESCRIPTION LIKE '%school%'

 * sqlite:///CHICAGO_DB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

Turns out there are quite a few types of crime committed at schools, but kidnapping was not one of them. We can dive a little deeper and look at the average safety score for each type of school.

In [16]:
%%sql
SELECT "Elementary, Middle, or High School" AS TYPE_OF_SCHOOL, AVG(SAFETY_SCORE) AS AVG_SAFETY_SCORE FROM ChicagoPublicSchools
GROUP BY "Elementary, Middle, or High School"

 * sqlite:///CHICAGO_DB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

A good variable associated with crime is income, so let us find the 5 community areas with highest % of households below poverty line.

In [24]:
%%sql
SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM ChicagoCensusData
WHERE PERCENT_HOUSEHOLDS_BELOW_POVERTY NOTNULL
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC limit 5

 * sqlite:///CHICAGO_DB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

Which are the 5 community areas most crime prone? Meaning, the ones with more crimes reported?

In [26]:
%%sql
SELECT CE.COMMUNITY_AREA_NUMBER, CE.COMMUNITY_AREA_NAME, COUNT(*) AS NUM_CRIMES
FROM ChicagoCrimeData AS CR, ChicagoCensusData AS CE
WHERE CE.COMMUNITY_AREA_NUMBER = CR.COMMUNITY_AREA_NUMBER
GROUP BY CR.COMMUNITY_AREA_NUMBER
HAVING CR.COMMUNITY_AREA_NUMBER != 'None'
ORDER BY NUM_CRIMES DESC LIMIT 5

 * sqlite:///CHICAGO_DB.db
Done.

[(25.0, 'Austin', 43),
 (23.0, 'Humboldt park', 22),
 (68.0, 'Englewood', 21),
 (29.0, 'North Lawndale', 16),
 (28.0, 'Near West Side', 16)]

By far, the area with more crimes is Austin. However it will take a longer and deeper analysis to understand why that is the case, since the income variable alone does not explain this.